In [37]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [38]:
#importing files
csv_file1 = "accidental_shootings.csv"
accidental_shootings_df = pd.read_csv(csv_file1)
accidental_shootings_df.head()

#cleaning
accidental_shootings_df = accidental_shootings_df[['Incident ID', 'Incident Date', 'State', 'City Or County', '# Killed', '# Injured']].copy()

clean_accidental_shootings_df = accidental_shootings_df.rename(columns={"Incident ID":"Incident_ID", "Incident Date":"Incident_Date", "State":"State", "City Or County":"CityOrCounty", "# Killed":"Num_Killed", "# Injured":"Num_Injured"})
clean_accidental_shootings_df.head()

,Incident_ID,Incident_Date,State,CityOrCounty,Num_Killed,Num_Injured
0,1778571,"August 29, 2020",Illinois,Rock Island,1,5
1,1778435,"August 28, 2020",Minnesota,Minneapolis,0,4
2,1778542,"August 28, 2020",Pennsylvania,Chester,1,3
3,1777607,"August 27, 2020",Oregon,Portland,1,3
4,1777180,"August 26, 2020",Michigan,Pontiac,3,1

In [39]:
#importing files
csv_file1 = "mass_shootings.csv"
mass_shootings_df = pd.read_csv(csv_file1)
mass_shootings_df.head()

#cleaning
mass_shootings_df = mass_shootings_df[['Incident ID', 'Incident Date', 'State', 'City Or County', '# Killed', '# Injured']].copy()

clean_mass_shootings_df = mass_shootings_df.rename(columns={"Incident ID":"Incident_ID", "Incident Date":"Incident_Date", "State":"State", "City Or County":"CityOrCounty", "# Killed":"Num_Killed", "# Injured":"Num_Injured"})
clean_mass_shootings_df.head()

,Incident_ID,Incident_Date,State,CityOrCounty,Num_Killed,Num_Injured
0,1778536,"August 28, 2020",Indiana,Evansville,1,0
1,1774108,"August 24, 2020",Pennsylvania,Pittsburgh,1,0
2,1773462,"August 23, 2020",New York,Nyack,1,0
3,1773671,"August 23, 2020",Kentucky,Lexington,1,0
4,1772339,"August 22, 2020",Florida,Hollywood,2,0

In [47]:
#sql junk, creating engine, checking table names
engine = create_engine('postgres://postgres:Cable9630!@localhost:5432/etl_challenge')
engine.table_names()

['accidental_shootings', 'mass_shootings']

In [48]:
#loading CSV to database
clean_mass_shootings_df.to_sql(name='mass_shootings', con=engine, 
                              if_exists='append', index=False)

clean_accidental_shootings_df.to_sql(name='accidental_shootings', con=engine, 
                              if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_mass_shootings"
DETAIL:  Key ("Incident_ID")=(1778536) already exists.

[SQL: INSERT INTO mass_shootings ("Incident_ID", "Incident_Date", "State", "CityOrCounty", "Num_Killed", "Num_Injured") VALUES (%(Incident_ID)s, %(Incident_Date)s, %(State)s, %(CityOrCounty)s, %(Num_Killed)s, %(Num_Injured)s)]
[parameters: ({'Incident_ID': 1778536, 'Incident_Date': 'August 28, 2020', 'State': 'Indiana', 'CityOrCounty': 'Evansville', 'Num_Killed': 1, 'Num_Injured': 0}, {'Incident_ID': 1774108, 'Incident_Date': 'August 24, 2020', 'State': 'Pennsylvania', 'CityOrCounty': 'Pittsburgh', 'Num_Killed': 1, 'Num_Injured': 0}, {'Incident_ID': 1773462, 'Incident_Date': 'August 23, 2020', 'State': 'New York', 'CityOrCounty': 'Nyack', 'Num_Killed': 1, 'Num_Injured': 0}, {'Incident_ID': 1773671, 'Incident_Date': 'August 23, 2020', 'State': 'Kentucky', 'CityOrCounty': 'Lexington', 'Num_Killed': 1, 'Num_Injured': 0}, {'Incident_ID': 1772339, 'Incident_Date': 'August 22, 2020', 'State': 'Florida', 'CityOrCounty': 'Hollywood', 'Num_Killed': 2, 'Num_Injured': 0}, {'Incident_ID': 1772364, 'Incident_Date': 'August 22, 2020', 'State': 'Florida', 'CityOrCounty': 'Indian Rocks Beach', 'Num_Killed': 1, 'Num_Injured': 0}, {'Incident_ID': 1775472, 'Incident_Date': 'August 22, 2020', 'State': 'Alaska', 'CityOrCounty': 'Shishmaref', 'Num_Killed': 1, 'Num_Injured': 0}, {'Incident_ID': 1771427, 'Incident_Date': 'August 21, 2020', 'State': 'Florida', 'CityOrCounty': 'Tallahassee', 'Num_Killed': 1, 'Num_Injured': 2}  ... displaying 10 of 500 total bound parameter sets ...  {'Incident_ID': 1502475, 'Incident_Date': 'September 12, 2019', 'State': 'Missouri', 'CityOrCounty': 'Saint Louis', 'Num_Killed': 1, 'Num_Injured': 0}, {'Incident_ID': 1502851, 'Incident_Date': 'September 12, 2019', 'State': 'Florida', 'CityOrCounty': 'Lake Worth (Palm Springs)', 'Num_Killed': 1, 'Num_Injured': 0})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [49]:
#checking to make sure everything is working
pd.read_sql_query('select * from mass_shootings', con=engine).head()

,Incident_ID,Incident_Date,State,CityOrCounty,Num_Killed,Num_Injured
0,1778536,2020-08-28,Indiana,Evansville,1,0
1,1774108,2020-08-24,Pennsylvania,Pittsburgh,1,0
2,1773462,2020-08-23,New York,Nyack,1,0
3,1773671,2020-08-23,Kentucky,Lexington,1,0
4,1772339,2020-08-22,Florida,Hollywood,2,0

In [50]:
#checking to make sure everything is working
pd.read_sql_query('select * from accidental_shootings', con=engine).head()

,Incident_ID,Incident_Date,State,CityOrCounty,Num_Killed,Num_Injured
0,1778571,2020-08-29,Illinois,Rock Island,1,5
1,1778435,2020-08-28,Minnesota,Minneapolis,0,4
2,1778542,2020-08-28,Pennsylvania,Chester,1,3
3,1777607,2020-08-27,Oregon,Portland,1,3
4,1777180,2020-08-26,Michigan,Pontiac,3,1